project:
  type: website

website:
  title: "Muestreo epidemiologia"
  navbar:
    left:
      - href: Muestreo.qmd
        text: Home
     

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

